In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('/content/Iris (2).csv')

In [ ]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df.mean()

<ipython-input-9-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [ ]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
x=df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
y=df['Species']

In [ ]:
print(x)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [ ]:
print(y)

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, shuffle=True)

In [ ]:
print(X_train)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
44             5.1           3.8            1.9           0.4
105            7.6           3.0            6.6           2.1
68             6.2           2.2            4.5           1.5
117            7.7           3.8            6.7           2.2
72             6.3           2.5            4.9           1.5
..             ...           ...            ...           ...
119            6.0           2.2            5.0           1.5
29             4.7           3.2            1.6           0.2
78             6.0           2.9            4.5           1.5
145            6.7           3.0            5.2           2.3
32             5.2           4.1            1.5           0.1

[120 rows x 4 columns]

In [ ]:
print(X_test)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
141            6.9           3.1            5.1           2.3
90             5.5           2.6            4.4           1.2
100            6.3           3.3            6.0           2.5
38             4.4           3.0            1.3           0.2
67             5.8           2.7            4.1           1.0
108            6.7           2.5            5.8           1.8
139            6.9           3.1            5.4           2.1
46             5.1           3.8            1.6           0.2
116            6.5           3.0            5.5           1.8
16             5.4           3.9            1.3           0.4
77             6.7           3.0            5.0           1.7
114            5.8           2.8            5.1           2.4
30             4.8           3.1            1.6           0.2
107            7.3           2.9            6.3           1.8
113            5.7           2.5            5.0           2.0
96             5.7           2.9            4.2           1.3
37             4.9           3.1            1.5           0.1
98             5.1           2.5            3.0           1.1
75             6.6           3.0            4.4           1.4
55             5.7           2.8            4.5           1.3
17             5.1           3.5            1.4           0.3
62             6.0           2.2            4.0           1.0
22             4.6           3.6            1.0           0.2
136            6.3           3.4            5.6           2.4
88             5.6           3.0            4.1           1.3
83             6.0           2.7            5.1           1.6
51             6.4           3.2            4.5           1.5
70             5.9           3.2            4.8           1.8
127            6.1           3.0            4.9           1.8
82             5.8           2.7            3.9           1.2

In [ ]:
print(y_train)

44         Iris-setosa
105     Iris-virginica
68     Iris-versicolor
117     Iris-virginica
72     Iris-versicolor
            ...
119     Iris-virginica
29         Iris-setosa
78     Iris-versicolor
145     Iris-virginica
32         Iris-setosa
Name: Species, Length: 120, dtype: object

In [ ]:
print(y_test)

141     Iris-virginica
90     Iris-versicolor
100     Iris-virginica
38         Iris-setosa
67     Iris-versicolor
108     Iris-virginica
139     Iris-virginica
46         Iris-setosa
116     Iris-virginica
16         Iris-setosa
77     Iris-versicolor
114     Iris-virginica
30         Iris-setosa
107     Iris-virginica
113     Iris-virginica
96     Iris-versicolor
37         Iris-setosa
98     Iris-versicolor
75     Iris-versicolor
55     Iris-versicolor
17         Iris-setosa
62     Iris-versicolor
22         Iris-setosa
136     Iris-virginica
88     Iris-versicolor
83     Iris-versicolor
51     Iris-versicolor
70     Iris-versicolor
127     Iris-virginica
82     Iris-versicolor
Name: Species, dtype: object

In [ ]:
from sklearn.linear_model import LogisticRegression

model1 = LogisticRegression()

model1.fit(X_train, y_train)

model1.score(X_test, y_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

model_KNN = KNeighborsClassifier(n_neighbors=10)

model_KNN.fit(X_train, y_train)

model_KNN.score(X_test, y_test)

0.9666666666666667

In [ ]:
model.predict([[5.1, 3.8, 1.9, 0.4]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['Iris-setosa'], dtype=object)

In [ ]:
model.predict([[7,3.2,4.7,1.4]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['Iris-versicolor'], dtype=object)

In [ ]:
model.predict([[6.4,2.8,5.6,2.1]])

NameError: ignored

In [ ]:
df.iloc[50]

Id                            51
SepalLengthCm                7.0
SepalWidthCm                 3.2
PetalLengthCm                4.7
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 50, dtype: object